@model BookType

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">Delete To Book Type</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>

        <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Delete To Book Type</button>

        <a asp-action="Index" asp-controller="BookType" class="btn btn-lg btn-primary" style="width:250px">Return To Book Type</a>
    </div>

</form>
