@{
    ViewData["Title"] = "Contact information";
}
<div class="text-center">
<h1 style="color:purple">@ViewData["Title"]</h1>

<br />

<br />

<h3>Gaziosmanpasa/ISTANBUL</h3>
<h3><a href="mailto:enesincekara61@gmail.com">
    Send Mail
    </a>
</h3>
</div>